// fonts
$main-font: 'BrunoAce';

// colors
$main-color: #ffffff;
$active-color: rgba(219, 175, 61, 0.8);

// background color
$main-bg-color: rgba(15, 14 , 14, 0.72);
$secondary-bg-color: #2f3134;

// border color
$border-color: #918252;


$mobile: 320px;
$mobile-middle: 480px;
$max-mobile: 767px;
$tablet: 768px;
$max-tablet: 1279px;
$desktop: 1280px;
