.headerContainer {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 8px 18px 11px;

  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background: linear-gradient(rgba(0, 0, 0, 1) 56%, rgba(14, 8, 5, 0.37));
}

@media (max-width: 767px) {
    .headerContainer {
    max-width: 768px;
    }
}

@media (min-width: 768px) and (max-width: 1279px) {
    .headerContainer {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
    }
  }

  @media screen and (min-width: 1280px) {
    .headerContainer {
    width: 1280px;
    padding-left: 85px;
    padding-right: 85px;
    }
  }

  .logoBlock {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 43px;
    height: 41px;
  }

  .title {
    width: 191px;
    height: 27px;
  }

  .about {
    width: 100%;
    height: 100%;
  }

  /* .about:hover,
  .about:focus {
    transform: scale(1.15);
    opacity: 0.75;
  } */