@import '../../assets/scss/utils/variables';

.button {
    width: 70px;
    height: 40px;
    box-sizing: content-box;
    padding: 0;
    opacity: 0.45;
    border-radius: 11px;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-family: $main-font;
    transition: $animation-transition;
}

// .role-hero {
//     border: 3px solid $hero-color;
// }

// .role-caller {
//     border: 3px solid $caller-color;
// }

// .role-better {
//     border: 3px solid $better-color;
// }

// .active-role {
//     opacity: 1;
// }