@import-normalize;

@import './assets/fonts.css';

:root {
  --mobile: 320px;
  --mobile-middle: 480px;
  --max-mobile: 767px;
  --tablet: 768px;
}

body {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;

  margin: 0;
  padding: 0;
  font-family: 'BrunoAce';
  font-size: 20px;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  body {
    background-image: url('./assets/img/background@2x.png');
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.active {
  color: rgb(24, 131, 224);
}

.container {
  max-width: var(--mobile-middle);
  min-width: var(--mobile);
  margin-left: auto;
  margin-right: auto;
}