@import '../../assets/scss/utils/variables';

.container {
    // max-width: $mobile-middle;
    padding: 0 8px;

    @media (min-width: $mobile-middle) {
    padding: 0 20px;
  }
}

.itemsWrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}